include includes/layout.pug
+layout('about')
  main#about
    article
      p.
        Minimoon aims to delight little minds and inspire parents. We believe
        that in better products because the things we bring into our homes
        matter.

      p We are currently launching our first set of toys on Kickstarter.

      p.
        Teeny Teethers are geometric, rubber toys that are easy to grab, safe to
        chew, and inspiring to the imagination.

      p Learn more and support us on Kickstarter!
