include includes/layout.pug
+layout('about')
block content
  main#main
    article
      p Minimoon aims to delight little minds and inspire parents. We believe that families need better products because what we bring into our home matters.

      p We are currently launching our first set of toys on Kickstarter.

      p Teeny Teethers are geometric, rubber toys that are easy to grab, safe to chew, and inspire imagination.

      p Learn more and support us on Kickstarter!
