/* typekit FOUC */

.wf-loading .nav-link,
.wf-loading main {
  visibility: hidden;
}

body {
  margin: 0;
  background: url('/img/Minimoon\ Teeny\ Teethers\ Floating\ Set\ Grid.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'proxima-nova', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #2b5e95;
}

a:visited {
  color: #e4bf3f;
}

#content {
  flex: 1;
  padding: 40px;
}

/* header */

#logo > img,
.ks-badge {
  width: 220px;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* press */

body.press {
  background-image: none;
  background-color: #fff;
}

.gallery-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 992px;
  justify-content: center;
}

.gallery > figure {
  margin: 0;
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
}

.gallery > figure > img {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,.3)
}

/* footer */

#footer {
  width: 100%;
}

#footer > ul {
  background-color: #323232;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#footer > ul > li > a > img {
  width: 30px;
  padding: 10px;
}
