doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title minimoon
    link(rel='stylesheet', type='text/css', href='/index.css')
  body
    nav#nav
      a#logo(href='/')
        img(src='/img/Minimoon_black_wordmark.png', alt='minimoon')
      ul#links
        li.nav-item
          a.nav-link(href='/about') about
        li.nav-item
          a.nav-link(href='/gallery') gallery
    footer#footer
      ul#social
        li
          a.social-link(href='https://twitter.com/heyminimoon')
            img(src='/img/twitter.svg', alt='twitter')
        li
          a.social-link(href='https://www.instagram.com/heyminimoon/')
            img(src='/img/instagram.svg', alt='instagram')
        li
          a.social-link(href='#')
            img(src='/img/facebook.svg', alt='facebook')
        li
         a.social-link(href='https://www.pinterest.com/heyminimoon/')
            img(src='/img/pinterest.svg', alt='pinterest')
        li
          a.social-link(href='mailto:beverly@minimoonshop.com')
            img(src='/img/email.svg', alt='email')
