/* typekit FOUC */

.wf-loading .nav-link,
.wf-loading main {
  visibility: hidden;
}

body {
  margin: 0;
  background: url('/img/170128_Mimi_Moon7814.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'proxima-nova', sans-serif;
  font-size: 20px;
}

a {
  color: #2b5e95;
}

a:visited {
  color: #e4bf3f;
}

#content {
  padding: 40px;
}

/* header */

#logo > img {
  width: 220px;
}

#nav {
  display: flex;
  justify-content: space-between;
}

#nav > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

#nav > ul > li > a {
  text-decoration: none;
  margin-left: 20px;
}

/* footer */

#footer > ul {
  background-color: #323232;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#footer > ul > li > a > img {
  width: 30px;
  padding: 10px;
}

/* about */

body.about {
  background: url('/img/170128_Mimi_Moon7814.jpg') no-repeat center center fixed;
  background-size: cover;
}

#about {
  display: flex;
  flex-direction: row-reverse;
}

#about > article {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
}
