include includes/layout.pug
+layout('press')
  main#press
    article
      p Thank you for your interest in Minimoon.

      p You can find high-resolution images below.

      p.
        Please provide photo credits to Minimoon and link to <a href='#'>our
        Kickstarter page</a> during the launch.
