include includes/layout.pug
+layout('press')
  main#press
    article
      p Thank you for your interest in Minimoon.

      p You can find high-resolution images below.

      p.
        Please provide photo credits to Minimoon and link to <a href='#'>our
        Kickstarter page</a> during the launch.

    -
      var images = [
        "Minimoon Teeny Teethers Floating Set Grid.jpg",
        "Minimoon Teeny Teethers Floating Set.jpg",
        "Minimoon Teeny Teethers Grab Grid.jpg",
        "Minimoon Teeny Teethers Hand Reach.jpg",
        "Minimoon Teeny Teethers Stack Hand.jpg",
        "Minimoon Teeny Teethers Stacked Grid.jpg",
        "Minimoon_TeenyTeethers1.jpg",
        "Minimoon_TeenyTeethers2.jpg",
        "Minimoon_TeenyTeethers3.jpg",
        "Minimoon_TeenyTeethers4.jpg",
        "Minimoon_TeenyTeethers5.jpg",
        "Minimoon_TeenyTeethers6.jpg"
      ];

    .gallery-container
      .gallery
        each src in images
          figure
            img(src=`/img/press/${src}`)
